@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.section-1-about {
  img {
    width: 100%;
    height: auto;
  }
  .about-card {
    h1 {
      text-align: center;
      margin-top: 40px;
      font-family: $catamaran;
    }
    p {
      text-align: center;
      line-height: 28px;
      font-family: $nunito;
      font-size: 18px;
      margin-top: 20px;
    }
    h2 {
      text-align: center;
      margin-top: 40px;
      font-family: $catamaran;
    }
    .btn-div {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 36px;
      .order-btn {
        background-color: $orange100;
        color: $white100;
        width: 219px;
        height: 52px;
        border-radius: 14px;
        font-size: 18px;
        border: transparent;
        cursor: pointer;
      }
      .order-btn:hover {
        background-color: $white100;
        color: $orange100;
        border: 1px solid $orange100;
      }
    }
  }
}






.section-2-about{
  border: 1px solid black;
  background-color: lightgray;
.circle-line{
  width: 678px;
  height: 678px;
  border: 5px solid yellow;
  border-radius: 50%;
  /* Halve the circle */
  border-bottom-color: transparent;
  border-left-color: transparent;
  /* Rotate the circle */
  transform: rotate(225deg);
  display: none;
}
  .bowl-1{
    display: none;
    z-index: 4;
  }
  
  .bowl-2{
    display: none;
    z-index: 4;
  }
  .bowl-3{
    display: none;
    z-index: 4;
  }
  
}

