@import "./variables";

.sect-1-about {
  .about-card {
    // position: static;
    background-color: $white100;
  }
  h1 {
    font-family: $catamaran;
    font-weight: 400;
    font-size: 28px;
    line-height: 68px;
    color: $black100;
    text-align: center;
  }
  h2 {
    font-family: $catamaran;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $black100;
  }
  p {
    font-family: $nunito;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $black100;
  }
  .btn-div {
    .order-btn {
      background-color: $orange100;
      color: $white100;
      border: none;
      border-radius: 26px;
    }
    .order-btn:hover {
      background-color: $white100;
      color: $orange100;
      border: 1px solid $orange100;
    }
  }
  
}





.sect-2-about {
 padding-top: 30px;
  background-color: $lightgrey200;
  
    
    h3 {
      font-family: $catamaran;
      font-weight: 400;
      font-size: 28px;
      line-height: 68px;
      color: $black100;
      text-align: center;
    }
    p {
      font-family: $nunito;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: $black100;
      text-align: center;
    }
  
}

