@import "./variables";

footer {
  height: auto;
  background-color: $black100;
  //padding: 50px 132px 79px 136px;
  padding-bottom: 350px;
  h6 {
    font-family: $catamaran;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    color: $white100;
  }
  .btn-container {

    .btn1 {
     // width: 125px;
      height: auto;
      border: 1px solid $orange100;
      border-radius: 22px;
      color: $orange100;
      background-color: $black100;
    }
    .btn1:hover{
      background-color: $orange100;
      color: $black100;
    }
    .btn2 {
     // width: 126px;
     // height: 44px;
      border-radius: 22px;
      border: none;
      color: $white100;
      background-color: $orange100;
    }
    .btn2:hover{
      background-color: $white100;
      color: $orange100;
    }
  }
  .social {
    text-align: right;
    img{
      cursor: pointer;
    }
  }
  .footer-link{
    text-decoration: none;
    color: $white100;
  }
  .footer-link:hover{
    color: $orange100;
  }
  a{
    text-decoration: none;
  }
}
