@import "./variables";

footer {
  height: auto;
  width: 100%;
  background-color: $black100;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: top 1.25rem;
  padding-bottom: 1.25rem;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 1.25rem;
    li {
      a {
        color: $white100;
        text-decoration: none;
      }
    }
  }
  p {
    color: $white100;
    margin-bottom: 1.25rem;
  }

  .logo-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    h6 {
      font-family: $catamaran;
      font-weight: 800;
      font-size: 1.5rem;
      line-height: 3rem;
      color: $white100;
    }
  }
  .btn-container {
    margin-bottom: 1.25rem;
    .btn-1 {
      background-color: $black100;
      color: $orange100;
      border: 1px solid $orange100;
      width: 7.8125rem;
      height: 2.75rem;
      border-radius: 1.375rem;
      font-size: 1rem;
      cursor: pointer;
    }
    .btn-1:hover{
      background-color: $orange100;
      color: $black100;
      border: 1px solid $orange100;
    }
    .btn-2 {
      background-color: $orange100;
      color: $white100;
      width: 7.8125rem;
      height: 2.75rem;
      border-radius: 1.375rem;
      border: transparent;
      cursor: pointer;
      font-size: 1rem;
    }
    .btn-2:hover{
      color: $orange100;
      background-color: $white100;
      border: 1px solid $orange100;
    }
  }
  .social-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.25rem;
    cursor: pointer;
  }
}
