@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.section-1-giftcard {
  h1,
  h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .section-1-box-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    .box-1,
    .box-2 {
      border: 1px solid $lightgrey100;
      width: 280px;
      height: 102px;
      font-size: 12px;
      padding: 3px;
    }
  }
  .btn-div {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    button {
      background-color: $white100;
      color: $darkgreen100;
      border: 1px solid $yellow100;
      width: 78px;
      height: 34px;
      cursor: pointer;
    }
    button:hover {
      background-color: $yellow100;
    }
  }
  input{
    height: 35px;
  }
  textarea{
    width: 100%;
    height: 195px;
    margin-top: 10px;
  }
  .btn-div-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    .checkout-btn {
      width: 300px;
      height: 36px;
      border-radius: 22px;
      background-color: $orange100;
      color: $white100;
      border: transparent;
      cursor: pointer;
    }
  }
.promo{
  color: #379AE6;
  text-align: center;
}
  .switch-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: #1dd75b;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #1dd75b;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
}

/*
.sect-1-giftcard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  //margin-left: 132px ;

  .checkout-card {
    h1 {
      font-family: $catamaran;
      font-size: 28px;
      font-weight: 500;
      color: $black100;
      text-align: center;
     // margin-top: 71px;
    }
    h2 {
      font-family: $nunito;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: $black100;
      text-align: center;
    }
    p {
      font-family: $nunito;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: $black100;
      text-align: center;
    }
    .box-container-1 {
      .box-1 {
        max-width: 280px;
        height: 102px;
        border-radius: 8px;
        border: 1px solid $lightgrey100;
        // padding: 20px 16px 45px 16px;
        cursor: pointer;
        img {
          width: 36px;
          height: 36px;
        }
        p {
          font-size: 12px;
        }
        .text-1 {
          font-family: $nunito;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: $black100;
          margin-bottom: 0;
        }
        .text-2 {
          font-family: $nunito;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: $black100;
        }
      }

      .box-1:hover {
        max-width: 280px;
        height: 102px;
        border-radius: 8px;
        border: 1px solid $orange100;
        // padding: 20px 16px 45px 16px;
        cursor: pointer;
        img {
          width: 36px;
          height: 36px;
        }
        p {
          font-size: 12px;
        }
        .text-1 {
          font-family: $nunito;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: $orange100;
          margin-bottom: 0;
        }
        .text-2 {
          font-family: $nunito;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: $orange100;
        }
      }
    }
    .promo {
      font-family: $nunito;
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
      color: $blue100;
    }
  }
  .icon-container {
    margin-top: 52px;

    img {
      margin-right: 24px;
      min-width: 44px;
      min-height: 44px;
    }
  }

  .input-container {
    min-width: 385px;
    border-radius: 4px 4px 4px 4px;

    .btn-group {
      display: flex;
      flex-wrap: wrap;
      .btn-4 {
        background-color: $white100;
        padding: 7px 16px 5px 16px;
        border-radius: 4px 0 0 4px;
        border: 1px solid $yellow100;
        color: $darkgreen100;
        cursor: pointer;
      }
      .btn-5 {
        background-color: $white100;
        padding: 7px 16px 5px 16px;
        border: 1px solid $yellow100;
        color: $darkgreen100;
        cursor: pointer;
      }
      .btn-6 {
        background-color: $white100;
        padding: 7px 16px 5px 16px;
        border: 1px solid $yellow100;
        color: $darkgreen100;
        cursor: pointer;
      }
      .btn-7 {
        background-color: $white100;
        padding: 7px 16px 5px 16px;
        border: 1px solid $yellow100;
        color: $darkgreen100;
        cursor: pointer;
      }
      .btn-8 {
        background-color: $white100;
        padding: 7px 16px 5px 16px;
        border: 1px solid $yellow100;
        border-radius: 0 4px 4px 0;
        color: $darkgreen100;
        cursor: pointer;
      }
      .btn-9 {
        background-color: $white100;
        padding: 7px 16px 5px 16px;
        border: 1px solid $yellow100;
        border-radius: 0 4px 4px 0;
        color: $darkgreen100;
        cursor: pointer;
      }
      .btn-5:hover {
        background-color: $yellow100;
      }
      .btn-6:hover {
        background-color: $yellow100;
      }
      .btn-7:hover {
        background-color: $yellow100;
      }
      .btn-8:hover {
        background-color: $yellow100;
      }
      .btn-9:hover {
        background-color: $yellow100;
      }
    }
  }
  .details-input {
    max-width: 395px;
    max-height: 35px;
    border-radius: 4px;
    border: 1px solid $black100;
    padding: 7px 12px 6px 12px;
  }
  textarea {
    max-width: 395px;
    max-height: 94px;
    border-radius: 4px;
    border: 1px solid $black100;
    padding: 7px 17px 7px 12px;
  }

  .form-check-input {
    background-color: $lightgreen;
    border: 1px solid $lightgreen;
    width: 40px;
    height: 24px;
  }

  .btn-div {
    max-width: 369px;
    .checkout-btn {
      background-color: $orange100;
      width: 100%;
      max-height: 44px;
      border-radius: 22px;
      border: none;
      color: $white100;
    }
    .checkout-btn:hover {
      background-color: $white100;
      color: $orange100;
      border: 1px solid $orange100;
    }
  }

  .container-giftcard-boxes {
    overflow: hidden;
  }
}
*/
