@import "./variables";

.login-box-1 {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: $white100;
  display: none;

  .login-card-1 {
    .header-div {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 40px;
      .btn-close {
        margin-left: auto;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }
  .div-1 {
    p {
      text-align: center;
    }
    .inner-div {
      display: flex;
      flex-direction: column;
      gap: 20px;
      input {
        background-color: #f1f4fe;
        border: transparent;
        height: 45px;
        border-radius: 22px;
        margin-top: 20px;
        padding: 7px;
        width: 100%;
      }
      button {
        background-color: $orange100;
        color: $white100;
        height: 45px;
        border-radius: 22px;
        border: transparent;
        cursor: pointer;
      }
      button:hover {
        background-color: $white100;
        border: 1px solid $orange100;
        color: $orange100;
      }
    }
  }
  .div-2 {
    display: none;
  }
  .login-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 28px;
    font-family: $nunito;
  }
  .div-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    button {
      background-color: #f1f4fe;
      border: transparent;
      height: 44px;
      cursor: pointer;
      border-radius: 22px;
    }
  }
  .card-img {
    display: none;
  }
}

@media (min-width: 992px) {
  .login-box-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: fixed;
    height: 624px;
    width: 1139px;
    border: 1px solid black;
    border-radius: 8px;
    position: fixed;
    top: 90px;
    left: 151px;
    z-index: 2;
    background-color: $white100;
    display: none;
    .login-card-1 {
      padding: 24px 32px;
      .header-div {
        display: flex;
        justify-content: center;
        margin: 0;
        .btn-close {
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }
    }
    .div-1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      gap: 20px;
      p {
        text-align: left;
      }
      input {
        width: 582px;
        height: 45px;
        border-radius: 23px;
        background-color: #f1f4fe;
        border: transparent;
        padding: 7px;
      }
      button {
        background-color: $orange100;
        color: $white100;
        height: 45px;
        width: 582px;
        border-radius: 22px;
        border: transparent;
        cursor: pointer;
      }
      button:hover {
        background-color: $white100;
        border: 1px solid $orange100;
        color: $orange100;
      }
    }
    .div-2 {
      display: block;
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: 56px;
      .line-1 {
        border: 1px solid #dee1e6;
        width: 282px;
      }

      .line-2 {
        border: 1px solid #dee1e6;
        width: 282px;
      }
    }
    .login-txt {
      display: block;
      line-height: 28px;
      font-family: $nunito;
      .login-txt-2 {
        display: flex;
        justify-content: center;
      }
    }
    .div-3 {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-left: 40px;
      margin-top: 24px;
      button {
        background-color: #f1f4fe;
        border: transparent;
        height: 44px;
        width: 582px;
        cursor: pointer;
        border-radius: 22px;
      }
      .button-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: #ea4336;
      }
      .button-1:hover {
        border: 1px solid #ea4336;
      }
      .button-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: #3f5893;
      }
      .button-2:hover {
        border: 1px solid #3f5893;
      }
      .button-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: #000000;
      }
      .button-3:hover {
        border: 1px solid #000000;
      }
    }
    .card-img {
      display: block;

      img {
        border-radius: 8px 0 0 8px;
      }
    }
  }
}

/*
.login-box-1 {
  
  .login-card-1 {
    border-radius: 8px;
    background-color: $white100;
   padding: 24px 25px 35px 32px;
    h1 {
      font-family: $catamaran;
      font-weight: 700;
      font-size: 28px;
      line-height: 48px;
      color: $black100;
      text-align: center;
    }
    P{
     // text-align: center;
    }
    input {
      min-width: 282px;
      height: 45px;
      border-radius: 23px;
      background-color: #f3f4f6;
      border: none;
      padding-left: 12px;
    }
    .button-1 {
      background-color: $orange100;
      color: $white100;
      min-width: 282px;
      height: 44px;
      border-radius: 22px;
      border: none;
    }
    .button-1:hover {
      background-color: $white100;
      color: $orange100;
      border: 1px solid $orange100;
    }
    .button-2 {
      background-color: #f1f4fe;
      color: $white100;
      min-width: 282px;
      height: 44px;
      border-radius: 22px;
      border: none;
      font-family: $nunito;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #ea4336;
    }
    .button-2:hover {
      border: 1px solid #ea4336;
    }
    .button-3 {
      background-color: #f1f4fe;
      color: $white100;
      min-width: 282px;
      height: 44px;
      border-radius: 22px;
      border: none;
      font-family: $nunito;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #3f5893;
    }
    .button-3:hover {
      border: 1px solid #3f5893;
    }
    .button-4 {
      background-color: #f1f4fe;
      color: $white100;
      // width: 582px;
      height: 44px;
      border-radius: 22px;
      border: none;
      font-family: $nunito;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #000000;
    }
    .button-4:hover {
      border: 1px solid black;
    }
    .line-1 {
    //  min-width: 100px;
      height: 1px;
      border: 1px solid #dee1e6;
    }
    .line-2 {
     // min-height: 100px;
      height: 1px;
      border: 1px solid #dee1e6;
    }
    
    .login-txt-1 {
      font-family: $nunito;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: #9095a0;
    }
    .login-txt-2 {
      font-family: $nunito;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: #9095a0;
      text-align: center;
    }
    .card-img-1{
      border-radius: 8px;
    }
  }
}





/*
.login-card-1{
 
  h1 {
    font-family: $catamaran;
    font-weight: 700;
    font-size: 28px;
    line-height: 48px;
    color: $black100;
    text-align: center;
  }
  input {
    min-width: 282px;
    height: 45px;
    border-radius: 23px;
    background-color: #f3f4f6;
    border: none;
    padding-left: 12px;
  }
  .button-1 {
    background-color: $orange100;
    color: $white100;
    min-width: 282px;
    height: 44px;
    border-radius: 22px;
    border: none;
  }
  .button-1:hover {
    background-color: $white100;
    color: $orange100;
    border: 1px solid $orange100;
  }
  .button-2 {
    background-color: #f1f4fe;
    color: $white100;
   // max-width: 582px;
    height: 44px;
    border-radius: 22px;
    border: none;
    font-family: $nunito;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ea4336;
  }
  .button-2:hover {
    border: 1px solid #ea4336;
  }
  .button-3 {
    background-color: #f1f4fe;
    color: $white100;
    //width: 582px;
    height: 44px;
    border-radius: 22px;
    border: none;
    font-family: $nunito;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #3f5893;
  }
  .button-3:hover {
    border: 1px solid #3f5893;
  }
  .button-4 {
    background-color: #f1f4fe;
    color: $white100;
    // width: 582px;
    height: 44px;
    border-radius: 22px;
    border: none;
    font-family: $nunito;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
  }
  .button-4:hover {
    border: 1px solid black;
  }
  .login-txt {
    font-family: $nunito;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #9095a0;
  }
  .login-txt-1 {
    font-family: $nunito;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #9095a0;
  }
  .login-txt-2 {
    font-family: $nunito;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #9095a0;
    text-align: center;
  }
  .line-1 {
    width: 282px;
    height: 1px;
    border: 1px solid #dee1e6;
  }
  .line-2 {
    width: 282px;
    height: 1px;
    border: 1px solid #dee1e6;
  }
}*/
