@import "./variables";



.login-box-1 {
  top: 100px;
  left: 100px;
  
  
  .login-card-1 {
    border-radius: 8px;
    background-color: $white100;
   padding: 24px 25px 35px 32px;
    h1 {
      font-family: $catamaran;
      font-weight: 700;
      font-size: 28px;
      line-height: 48px;
      color: $black100;
      text-align: center;
    }
    P{
     // text-align: center;
    }
    input {
      min-width: 282px;
      height: 45px;
      border-radius: 23px;
      background-color: #f3f4f6;
      border: none;
      padding-left: 12px;
    }
    .button-1 {
      background-color: $orange100;
      color: $white100;
      min-width: 282px;
      height: 44px;
      border-radius: 22px;
      border: none;
    }
    .button-1:hover {
      background-color: $white100;
      color: $orange100;
      border: 1px solid $orange100;
    }
    .button-2 {
      background-color: #f1f4fe;
      color: $white100;
      min-width: 282px;
      height: 44px;
      border-radius: 22px;
      border: none;
      font-family: $nunito;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #ea4336;
    }
    .button-2:hover {
      border: 1px solid #ea4336;
    }
    .button-3 {
      background-color: #f1f4fe;
      color: $white100;
      min-width: 282px;
      height: 44px;
      border-radius: 22px;
      border: none;
      font-family: $nunito;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #3f5893;
    }
    .button-3:hover {
      border: 1px solid #3f5893;
    }
    .button-4 {
      background-color: #f1f4fe;
      color: $white100;
      // width: 582px;
      height: 44px;
      border-radius: 22px;
      border: none;
      font-family: $nunito;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #000000;
    }
    .button-4:hover {
      border: 1px solid black;
    }
    .line-1 {
    //  min-width: 100px;
      height: 1px;
      border: 1px solid #dee1e6;
    }
    .line-2 {
     // min-height: 100px;
      height: 1px;
      border: 1px solid #dee1e6;
    }
    
    .login-txt-1 {
      font-family: $nunito;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: #9095a0;
    }
    .login-txt-2 {
      font-family: $nunito;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: #9095a0;
      text-align: center;
    }
    .card-img-1{
      border-radius: 8px;
    }
  }
}





/*
.login-card-1{
 
  h1 {
    font-family: $catamaran;
    font-weight: 700;
    font-size: 28px;
    line-height: 48px;
    color: $black100;
    text-align: center;
  }
  input {
    min-width: 282px;
    height: 45px;
    border-radius: 23px;
    background-color: #f3f4f6;
    border: none;
    padding-left: 12px;
  }
  .button-1 {
    background-color: $orange100;
    color: $white100;
    min-width: 282px;
    height: 44px;
    border-radius: 22px;
    border: none;
  }
  .button-1:hover {
    background-color: $white100;
    color: $orange100;
    border: 1px solid $orange100;
  }
  .button-2 {
    background-color: #f1f4fe;
    color: $white100;
   // max-width: 582px;
    height: 44px;
    border-radius: 22px;
    border: none;
    font-family: $nunito;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ea4336;
  }
  .button-2:hover {
    border: 1px solid #ea4336;
  }
  .button-3 {
    background-color: #f1f4fe;
    color: $white100;
    //width: 582px;
    height: 44px;
    border-radius: 22px;
    border: none;
    font-family: $nunito;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #3f5893;
  }
  .button-3:hover {
    border: 1px solid #3f5893;
  }
  .button-4 {
    background-color: #f1f4fe;
    color: $white100;
    // width: 582px;
    height: 44px;
    border-radius: 22px;
    border: none;
    font-family: $nunito;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
  }
  .button-4:hover {
    border: 1px solid black;
  }
  .login-txt {
    font-family: $nunito;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #9095a0;
  }
  .login-txt-1 {
    font-family: $nunito;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #9095a0;
  }
  .login-txt-2 {
    font-family: $nunito;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #9095a0;
    text-align: center;
  }
  .line-1 {
    width: 282px;
    height: 1px;
    border: 1px solid #dee1e6;
  }
  .line-2 {
    width: 282px;
    height: 1px;
    border: 1px solid #dee1e6;
  }
}*/

.sect-1-menu-pickup-build {
  width: 100%;
  .img-blur {
    width: 100%;
    filter: blur(10px);
  }
}
