@import "./variables";

.sect-1-menu {
  background-color: $lightgrey200;
  height: auto;
  padding-top: 30px;
  //border: 1px solid black;
  // margin-top: 30px;
  h2 {
    font-family: $nunito;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
  p {
    font-family: $nunito;
    font-weight: 400;
    font-size: 12px;
    max-width: 235px;
    line-height: 20px;
    text-align: left;
  }
  .card-sect-1 {
    min-height: 68px;
    //min-width: 267px;
    background-color: $white100;
    border-radius: 8px;
  }
  .btn-div {
    height: auto;
    .order-btn {
      background-color: $orange200;
      color: $orange100;
      border-radius: 18px;
      border: none;
    }
    .order-btn:hover {
      color: $orange200;
      background-color: $orange100;
    }
  }
  .explor-btn {
    // width: 219px;
    // height: 52px;
    border-radius: 26px;
    border: 1px solid $black100;
    background-color: $white100;
    color: $black100;
    font-family: $nunito;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .explor-btn:hover {
    background-color: $black100;
    color: $white100;
  }
}

.sect-2-menu {
  background-color: $white100;
  height: auto;
  padding-top: 30px;
 
  //border: 1px solid black;
  // margin-top: 30px;
  h2 {
    font-family: $nunito;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  
  }
  p {
    font-family: $nunito;
    font-weight: 400;
    font-size: 12px;
    max-width: 235px;
    line-height: 20px;
    text-align: left;
  }
  .card-sect-2 {
    min-height: 68px;
    //min-width: 267px;
    background-color: $white100;
    border-radius: 8px;
  }
  .btn-div {
    height: auto;
    .order-btn  {
      background-color: $orange100;
      color: $white100;
      border-radius: 26px;
      border: none;
      min-height: 52px;
      min-width: 219px;
      .order-btn:hover {
        color: $orange200;
        background-color: $orange100;
      }
    }
    .order-btn:hover {
      color: $orange200;
      background-color: $orange100;
    }
  }
}
