
@import "./variables";





.sect-1-menu-pickup{
  h1{
    font-family: $catamaran;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: $black100;
  }
  width: 100%;
  img{
    width: 100%;
  }
}