@import "./variables";


.sect1-menu {
  //box-shadow: 0 0 1px 0 $black100;
  .sect1-img-menu {
    position: relative;
    width: 100%;
    height: 379px;
    img {
      width: 100%;
      height: 100%;
    }
  }
 
}

.sect2-meu {
  height: 683px;
  padding-top: 48px;
  background-color: $lightgrey200;
  .sect2-header-meu {
    text-align: center;
    font-family: $catamaran;
  }
  
}