@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.section-1-menu-pickup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: auto;
  }
  h1 {
    text-align: center;
    margin-top: 40px;
  }
  p {
    text-align: center;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
  .info-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    .btn-div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      button {
        color: #765903;
        border: 1px solid #fcdd80;
        background-color: $white100;
        width: 77px;
        height: 34px;
        cursor: pointer;
      }
      button:hover {
        background-color: #fcdd80;
      }
    }
  }
}

.section-2-menu-pickup {
  h2 {
    text-align: center;
    margin-top: 40px;
    font-family: $catamaran;
    font-weight: 400;
    line-height: 36px;
    font-size: 24px;
  }
  .all-cards-div {
    margin-top: 108px;
    .card-div {
      display: flex;
      justify-content: center;
      img {
        width: 219px;
        height: auto;
      }
      .card-sect-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1.25rem;
        border-radius: 14px;
        padding: 1.25rem;
        background-color: $white100;
        box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
        h3 {
          text-align: center;
          margin-top: 1.25rem;
          font-family: $catamaran;
        }

        p {
          text-align: center;
          margin-top: 1.25rem;
          white-space: nowrap;
          font-family: $nunito;
          line-height: 28px;
          font-weight: 400;
          font-size: 12px;
        }
        .btn-div {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          align-items: center;
          margin-top: 1.25rem;
          button {
            background-color: $orange200;
            color: $orange100;
            height: 36px;
            width: 94px;
            border-radius: 18px;
            border: transparent;
            cursor: pointer;
          }
          button:hover {
            background-color: $orange100;
            color: $orange200;
          }
          p {
            font-size: 18px;
            margin-bottom: 17px;
          }
        }
      }
    }
  }
  .all-cards-div-2 {
    margin-top: 0;
    .card-div {
      display: flex;
      justify-content: center;
      h3{
        font-family: $nunito;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
      }
      img {
        width: 219px;
        height: auto;
      }
      .card-sect-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1.25rem;
        border-radius: 14px;
        padding: 1.25rem;
        background-color: $white100;
        box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
        h3 {
          text-align: center;
          margin-top: 1.25rem;
          font-family: $catamaran;
        }

        p {
          text-align: center;
          margin-top: 1.25rem;
          white-space: nowrap;
          font-family: $nunito;
          line-height: 28px;
          font-weight: 400;
          font-size: 12px;
        }
        .btn-div {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          align-items: center;
          margin-top: 1.25rem;
          button {
            background-color: $orange200;
            color: $orange100;
            height: 36px;
            width: 94px;
            border-radius: 18px;
            border: transparent;
            cursor: pointer;
          }
          button:hover {
            background-color: $orange100;
            color: $orange200;
          }
          p {
            font-size: 18px;
            margin-bottom: 17px;
            font-family: $nunito;
          }
        }
      }
      .drinks-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 40px;
        .btn-div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          button {
            background-color: $orange200;
            color: $orange100;
            border: transparent;
            margin-top: 20px;
            height: 36px;
            width: 94px;
            border-radius: 18px;
            cursor: pointer;
          }
          button:hover {
            background-color: $orange100;
            color: $orange200;
          }
        }
      }
    }
  }
}

/*
.sect-2-menu-pickup {
  background-color: $lightgrey200;
  height: auto;
  padding-top: 30px;
  
  h2 {
    font-family: $nunito;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
  h3{
    font-family: $nunito;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px
  }
  p {
    font-family: $nunito;
    font-weight: 400;
    font-size: 12px;
    max-width: 235px;
    line-height: 20px;
    text-align: left;
  }
  .card-sect-1 {
    min-height: 68px;
    //min-width: 267px;
    background-color: $white100;
    border-radius: 8px;
  }
  .btn-div {
    height: auto;
    .order-btn {
      background-color: $orange200;
      color: $orange100;
      border-radius: 18px;
      border: none;
    }
    .order-btn:hover {
      color: $orange200;
      background-color: $orange100;
    }
  }
  
}





/*
.sect-1-menu-pickup {
  h1 {
    font-family: $catamaran;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: $black100;
  }
  width: 100%;
  img {
    width: 100%;
  }

  .container-fluid-menu-pickup {
  
    .box-1 {
      border: 1px solid $yellow100;
      width: 77px;
      height: 34px;
      border-radius: 4px 0 0 4px;
      padding: 7px 12px 5px 12px;
      color: $darkgreen100;
      cursor: pointer;

      .box-1:hover {
        background-color: $yellow100;
      }
    }

    .box-2 {
      border: 1px solid $yellow100;
      width: 77px;
      height: 34px;
      border-radius: 0 4px 4px 0;
      padding: 7px 12px 5px 12px;
      color: $darkgreen100;
      cursor: pointer;
    }
    .box-1:hover {
      background-color: $yellow100;
    }
    .box-2:hover {
      background-color: $yellow100;
    }
  }

  .times {
    white-space: nowrap;
  }
}

.sect2-menu-pickup {
  //width: 100%;
  // height: 100px;
  padding: 72px 156px 84px 148px;
  margin-top: 0;
  background-color: $lightgrey200;
  .sect2-header-menu-pickup {
    text-align: center;
    font-family: $catamaran;
  }
  .container-menu-pickup {
    .box-menu-pickup {
      background-color: $white100;
      padding: 10px;
      width: 267px;
      border-radius: 8px;
      //height: 292px;
      .image-container-menu-pickup {
        width: 219px;
        height: 219px;
        img {
          width: 100%;
          margin-left: 10px;
        }
      }
      button {
        background-color: $orange200;
        color: $orange100;
        width: 94px;
        height: 36px;
        border-radius: 18px;
        border: none;
        white-space: nowrap;
      }
      button:hover{
        background-color: $orange100;
        color: $orange200;
      }
      p {
        width: 235px;
        height: 60px;
        font-size: 12px;
      }
      h2 {
        white-space: nowrap;
        font-family: $catamaran;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
  .menu-txt {
    font-family: $catamaran;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: $black100;
  }
  .price{
   font-family: $nunito;
   font-weight: 700;
   font-size: 18px;
   line-height: 28px;
   color: $black100;
  }
}*/
