@import "./variables";

.navbar {
  height: 80px;
  //padding-left: 139px;
  //padding-right: 132px;
  .nav-link {
    font-family: $nunito;
    color: $grey100;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  .nav-link:hover{
    color: $orange100;
  }
  .logo-container {
    display: flex;
    flex-direction: row;

    .index {
      font-family: $catamaran;
      color: $black100;
      font-weight: 800;
      font-size: 18px;
      line-height: 28px;
      margin-top: 20px;
      cursor: pointer;
      text-decoration: none;
      
    }
    .index:hover{
      color: $orange100;
    }
  }
  .btn {
    font-family: $nunito;
    color: $black100;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 125px;
    height: 44px;
    border-radius: 22px;
    border: none;
    top: 18px;
  }
  .btn:hover{
    color: $orange100;
  }
  .btn-1 {
    background-color: $black100;
    color: $white100;
    font-family: $nunito;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 126px;
    height: 44px;
    border-radius: 22px;
    border: none;
    top: 20px;
    left: 1195px;
    text-decoration: none;
  }
}

.navbar-toggler{
  width: 55px;
}