@import "./variables";


nav {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1000;
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
  padding-top: 18px;
  padding-bottom: 18px;

}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

nav a {
  height: 100%;
  padding: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  color: #F96540;
}

nav li:first-child {
  margin-right: auto;
  display: flex; justify-content: center;
}


nav .index{
  color: $black100;
  font-family: $catamaran;
  font-weight: 800;
  font-size: 18px;
  line-height: 28px;
}



.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 10px;
  height: 100vh;
  width: 15.625rem;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
  font-size: 20px;
}

.sidebar a {
  width: 100%;
}

.quote-btn {
  background-color: #ffffff;
  color: #191a23;
  width: 125px;
  height: 44px;
  border-radius: 22px;
  cursor: pointer;
  font-size: 16px;
  display: none;
}

.quote-btn:hover {
  color: $white100;
  background-color: #191a23;
}

.quote-btn-2{
  background-color: $black100;
  color: $white100;
  width: 125px;
  height: 44px;
  border-radius: 22px;
  cursor: pointer;
  font-size: 16px;
  display: none;
}
.quote-btn-2:hover{
  background-color: $white100;
  color: $black100;
}

.cart-btn{
  height: 44px;
  width: 113px ;
  border-radius: 22px;
  color: $white100;
  background-color: $black100;
  border: transparent;
  display: none;
}

.hideOnMobile{
  margin-right: auto;
  display: flex;
  gap: 20px
 
}





@media (min-width: 992px){
  .hamburger{
    display: none;
  }

  .quote-btn{
    display: block;
  }
 .quote-btn-2{
  display: block;
 }
 nav{
  padding-left: 132px;
  padding-right: 132px;
 }
 .cart-btn{
  height: 44px;
  width: 113px ;
  border-radius: 22px;
  color: $white100;
  background-color: $black100;
  border: transparent;
  display: block;
}
}



