@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}


.section-1-order-summary{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  h1{
    text-align: center;
    font-weight: 700;
    font-family: $catamaran;
  }
  h2{
    font-weight: 400;
    font-family: $nunito;
    font-size: 16px;
    line-height: 26px;
    color: $black100;
    text-align: center;
  }
  p{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #565E6C;
  }
  .summary-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .payment{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    .freeship{
      background-color: #FCDD80 ;
      border: transparent;
      height: 28px ;
      border-radius: 14px;
      color: #765903;
      font-family: $nunito;
      font-size: 12px;
    }
    .payment-btn{
      background-color: $orange100;
      color: $white100;
      border: transparent;
      height: 28px;
      border-radius: 14px;
      font-family: $nunito;
      font-size: 12px;
    }
  }
}

.section-2-order-summary{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h4{
    margin-top: 20px;
  }
  p{
    margin-top: 20px;
  }
  button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFF3F0 ;
    color: $orange100;
    height: 36px;
    width: 94px;
    border-radius: 18px;
    border: transparent;
  }
}
