@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
 
}

.section-1-pickup {
  margin-top: 40px;
  .box-div-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .box-1 {
      color: #765903;
      height: 42px;
      width: 92px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      font-family: $nunito;
      align-items: center;
      border-radius: 4px 0 0 4px;
    }
    .box-2 {
      color: #765903;
      height: 42px;
      width: 92px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $nunito;
      cursor: pointer;
      border-radius:  0 4px 4px 0;
    }
    .box-1:hover {
      background-color: #fcdd80;
    }
    .box-2:hover {
      background-color: #fcdd80;
    }
  }
  h1 {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    font-family: $nunito;
    line-height: 16px;
  }
  .input-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    input{
      height: 35px;
      border-radius: 18px ;
      width: 100%;
      padding-left: 30px;
      margin: auto;
     
    }
  }

  .boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    overflow: scroll;
    .box {
      width: 100%;
      height: auto;
      border-radius: 8px;
      background-color: $white100;
      border: 1px solid black;
      box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
      padding: 16px 16px 16px 21px;
      .btn-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        .box-button {
          width: 200px;
          height: 36px;
          border: 1px solid $orange100;
          border-radius: 18px;
          background-color: $white100;
          color: $black100;
        }
      }

      .div-1 {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }
    .box:hover {
      background-color: $orange100;
    }
  }
}

.map {
  display: block;
  position: relative;
  .map-img{
    width: 100%;
  }
  .btn-68{
    position: absolute;
    top: 132px;
    left: 0;
    z-index: 1;
    cursor: pointer;
  }
  .btn-71{
    position: absolute;
    top: 301px;
    left: 200px;
    z-index: 1;
    cursor: pointer;
  }
  .btn-67{
    position: absolute;
    top: 419px;
    left: 300px;
    z-index: 1;
    cursor: pointer;
  }
  .btn-66{
    position: absolute;
    top: 207px;
    left: 0;
    z-index: 1;
    cursor: pointer;
  }
}






@media (min-width: 600px) {

  .inner-div {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 20px;
     
   }
   .section-1-pickup {
     margin-top: 69px;
     width: 492px;
    /* margin-left: 114px;*/
     .box-div-1 {
       display: flex;
       justify-content: flex-start;
       margin-bottom: 20px;
       .box-1 {
         color: #765903;
         height: 42px;
         width: 92px;
         cursor: pointer;
         display: flex;
         justify-content: center;
         font-family: $nunito;
         align-items: center;
       }
       .box-2 {
         color: #765903;
         height: 42px;
         width: 92px;
         display: flex;
         justify-content: center;
         align-items: center;
         font-family: $nunito;
         cursor: pointer;
       }
       .box-1:hover {
         background-color: #fcdd80;
       }
       .box-2:hover {
         background-color: #fcdd80;
       }
     }
     h1 {
       font-size: 16px;
       text-align: left;
       font-weight: 400;
       font-family: $nunito;
       line-height: 16px;
     }
     .input-container {
       margin-top: 20px;
       display: flex;
       justify-content: center;
       position: relative;
       input{
         height: 35px;
         border-radius: 18px ;
         width: 100%;
         padding-left: 30px;
         margin: auto;
        
       }
     }
   
     .boxes {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 20px;
       margin-top: 40px;
       margin-bottom: 40px;
       cursor: pointer;
       overflow: scroll;
       padding: 8px;
       height: 563px;
       .box {
         width: 100%;
         height: auto;
         border-radius: 8px;
         background-color: $white100;
         border: 1px solid black;
         box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
         padding: 16px 16px 16px 21px;
         .btn-div {
           display: flex;
           align-items: center;
           justify-content: space-between;
           margin-top: 20px;
           .box-button {
             width: 200px;
             height: 36px;
             border: 1px solid $orange100;
             border-radius: 18px;
             background-color: $white100;
             color: $black100;
           }
         }
   
         .div-1 {
           display: flex;
           flex-direction: row;
           gap: 10px;
         }
       }
       .box:hover {
         background-color: $orange100;
       }
     }
   }
   
   .map {
     display: block;
     position: relative;
     height: auto;
     .btn-68{
       position: absolute;
       top: 632px;
       left: 355px;
       z-index: 1;
       cursor: pointer;
     }
     .btn-71{
       position: absolute;
       top: 301px;
       left: 200px;
       z-index: 1;
       cursor: pointer;
     }
     .btn-67{
       position: absolute;
       top: 419px;
       left: 300px;
       z-index: 1;
       cursor: pointer;
     }
     .btn-66{
       position: absolute;
       top: 507px;
       left: 100px;
       z-index: 1;
       cursor: pointer;
     }
   }





}







@media (min-width: 992px) {


  .inner-div {
   margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
    
  }
  .section-1-pickup {
    margin-top: 69px;
    width: 492px;
    margin-left: 114px;
    .box-div-1 {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 20px;
      .box-1 {
        color: #765903;
        height: 42px;
        width: 92px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        font-family: $nunito;
        align-items: center;
      }
      .box-2 {
        color: #765903;
        height: 42px;
        width: 92px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $nunito;
        cursor: pointer;
      }
      .box-1:hover {
        background-color: #fcdd80;
      }
      .box-2:hover {
        background-color: #fcdd80;
      }
    }
    h1 {
      font-size: 16px;
      text-align: left;
      font-weight: 400;
      font-family: $nunito;
      line-height: 16px;
    }
    .input-container {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      position: relative;
      input{
        height: 35px;
        border-radius: 18px ;
        width: 100%;
        padding-left: 30px;
        margin: auto;
       
      }
    }
  
    .boxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 40px;
      margin-bottom: 40px;
      cursor: pointer;
      overflow: scroll;
      padding: 20px;
      height: 563px;
      .box {
        width: 100%;
        height: auto;
        border-radius: 8px;
        background-color: $white100;
        border: 1px solid black;
        box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
        padding: 16px 16px 16px 21px;
        
        .btn-div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
          .box-button {
            width: 200px;
            height: 36px;
            border: 1px solid $orange100;
            border-radius: 18px;
            background-color: $white100;
            color: $black100;
          }
        }
  
        .div-1 {
          display: flex;
          flex-direction: row;
          gap: 10px;
        }
      }
      .box:hover {
        background-color: $orange100;
      }
    }
  }
  
  .map {
    display: block;
    margin-top: 69px;
    margin-bottom: 69px;
    position: relative;
    .btn-68{
      position: absolute;
      top: 632px;
      left: 355px;
      z-index: 1;
      cursor: pointer;
    }
    .btn-71{
      position: absolute;
      top: 301px;
      left: 200px;
      z-index: 1;
      cursor: pointer;
    }
    .btn-67{
      position: absolute;
      top: 419px;
      left: 300px;
      z-index: 1;
      cursor: pointer;
    }
    .btn-66{
      position: absolute;
      top: 507px;
      left: 100px;
      z-index: 1;
      cursor: pointer;
    }
  }
  
}