@import "./variables";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.section-1-purchase-info {
  margin-top: 2.5rem;
  .div-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .check {
      position: absolute;
      bottom: 100px;
      right: 80px;
      z-index: 2;
    }
    h1 {
      margin-top: 2.5rem;
      font-weight: 700;
      line-height: 48px;
      font-size: 1.5625rem;
      font-family: $catamaran;
    }
  }
}

.section-2-purchase-info {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  .div-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    .right-div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }
  }
  .line {
    border: 1px solid #dee1e6;
    width: 300px;
    margin: auto;
  }
  .div-2 {
    margin-top: 20px;
    h2 {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }
  .purchase-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 21px;
    margin-top: 10px;
    .purchased-item {
      .quantity {
        background-color: #f3f4f6;
        width: 36px;
        height: 28px;
        border-radius: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      P {
        font-size: 11px;
        line-height: 18px;
        color: #9095a0;
        font-family: $nunito;
      }
    }
  }
  .div-1 {
    .price {
      text-align: center;
    }
  }
  .div-2 {
    .price {
      text-align: center;
    }
  }
  .home-btn {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    button {
      background-color: $orange100;
      color: $white100;
      width: 130px;
      height: 44px;
      border-radius: 22px;
      border: transparent;
      cursor: pointer;
    }
    button:hover {
      background-color: $white100;
      color: $orange100;
      border: 1px solid $orange100;
    }
  }
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}








@media (min-width: 37.5rem) {

  .section-1-purchase-info {
    margin-top: 2.5rem;
    margin-bottom: 2.875rem;
    .div-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      .check {
        position: absolute;
        bottom: 6.25rem;
        right: 15.9375rem;
        z-index: 2;
      }
      h1 {
        margin-top: 2.5rem;
        font-weight: 700;
        line-height: 3rem;
        font-size: 1.5625rem;
        font-family: $catamaran;
      }
      p{
        font-size: 0.875rem;
        color: #9095A0;
        font-family: $nunito;
        line-height: 1.375rem;
      }
    }
  }

  .section-2-purchase-info {
    margin-bottom: 2.5rem;
    border-radius: 4px;
    width: 35rem;
    padding: 1.5rem;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    height: auto;
    margin: auto;
    .div-1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.25rem;
      .right-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
      }
    }
    .line {
      border: 1px solid #dee1e6;
      width: 0.0625rem;
      margin-top: 1.4375rem;
      
      
    }
    .div-2 {
      margin-top: 1.25rem;
      h2 {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.375rem;
      }
      .price{
        margin-left: auto;
      }
    }
    .purchase-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 21px;
      margin-top: 0.625rem;
      .purchased-item {
        .quantity {
          background-color: #f3f4f6;
          width: 2.25rem;
          height: 1.75rem;
          border-radius: 0.875rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        P {
          font-size: 0.6875rem;
          line-height: 18px;
          color: #9095a0;
          font-family: $nunito;
        }
      }
    }
    .div-1 {
      .price {
        text-align: center;
      }
    }
    .div-2 {
      .price {
        text-align: center;
      }
    }
  }


}










@media (min-width: 62rem) {
  .section-1-purchase-info {
    margin-top: 2.5rem;
    margin-bottom: 2.875rem;
    .div-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      .check {
        position: absolute;
        bottom: 6.25rem;
        right: 37.5rem;
        z-index: 2;
      }
      h1 {
        margin-top: 2.5rem;
        font-weight: 700;
        line-height: 48px;
        font-size: 2rem;
        font-family: $catamaran;
      }
      p{
        font-size: 0.875rem;
        color: #9095A0;
        font-family: $nunito;
        line-height: 1.375rem;
      }
    }
  }

  .section-2-purchase-info {
    margin-bottom: 2.5rem;
    border-radius: 4px;
    width: 35rem;
    padding: 1.5rem;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    height: auto;
    margin: auto;
    .div-1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.25rem;
      .right-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
      }
    }
    .line {
      border: 1px solid #dee1e6;
      width: 32rem;
      margin-top: 1.4375rem;
      
      
    }
    .div-2 {
      margin-top: 0.0625rem;
      h2 {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.375rem;
      }
      .price{
        margin-left: auto;
      }
    }
    .purchase-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 21px;
      margin-top: 10px;
      .purchased-item {
        .quantity {
          background-color: #f3f4f6;
          width: 36px;
          height: 28px;
          border-radius: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        P {
          font-size: 11px;
          line-height: 18px;
          color: #9095a0;
          font-family: $nunito;
        }
        
      }
    }
    .div-1 {
      .price {
        text-align: center;
      }
    }
    .div-2 {
      .price {
        text-align: center;
      }
    }
  }
}
