@import "./variables";
@import "./mixins";

.intro-card {
  @include respond-to(md) {
    border-radius: 4px;
    left: 132px;
    top: 199px;
    max-width: 442px;
    max-height: 413px;
    box-shadow: 0 0 1px 0 $black100;
    padding: 48px 36px;
    position: absolute;
    h1 {
      color: $black100;
      font-family: $catamaran;
      font-weight: 400;
      font-size: 48px;
      max-width: 370px;
      max-height: 136px;
      line-height: 68px;
      color: $black100;
      text-align: left;
    }
    p {
      font-size: 18px;
      font-family: $nunito;
      font-weight: 400;
      line-height: 28px;
      color: $black100;
      text-align: left;
      max-width: 193px;
      max-height: 28px;
      margin-top: 80px;
    }
    button {
      background-color: $orange100;
      color: $white100;
      max-width: 219px;
      max-height: 52px;
      padding: 12px 64px;
      border-radius: 26px;
      border: none;
    }
    button:hover {
      color: $orange100;
      background-color: $white100;
      border: 1px solid $orange100;
    }
  }
}

.card-img-div {
  @include respond-to(md) {
    position: relative;
  }
}

.sect-1-home {
  @include respond-to(md) {
    .sect-1-card {
      min-width: 587px;
      min-height: 168px;
      padding-left: 428px;
      padding-right: 425px;
      margin-top: 18px;
      margin-bottom: 72px;
      p {
        font-family: $nunito;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: $black100;
      }
    }
  }
}

.sect-2-home {
  @include respond-to(md) {
    padding-top: 48px;
    .sect-2-head {
      font-family: $nunito;
      font-weight: 400;
      font-size: 48px;
      line-height: 68px;
      // margin-top: 48px;
    }
    .all-cards-div {
      display: flex;
      justify-content: center;
    }
    .card-div {
      margin-top: 140px;
    }
    .card-sect-2 {
      position: relative;
      padding: 128px 16px 24px 16px;
      min-width: 267px;
      min-height: 292px;
      border-radius: 8px;
      background-color: $white100;
      h3 {
        text-align: left;
        margin-top: 24px;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: $black100;
      }
      p {
        text-align: left;
      }
      img {
        position: absolute;
        top: -115px;
        left: 24px;
        max-width: 219px;
        max-height: 219px;
      }
      .btn-div {
        display: flex;
        align-items: start;
      }
    }
    .explor-btn {
      min-width: 219px;
      min-height: 52px;
    }
  }
}

.sect-3-home {
  @include respond-to(md) {
    display: flex;
    flex-direction: row;
    padding-left: 132px;
    padding-right: 132px;
    margin-bottom: 72px;
    margin-top: 72px;

    h4 {
      font-family: $catamaran;
      font-size: 48px;
      font-weight: 400;
      line-height: 68px;
      color: $black100;
      text-align: left;
    }
    p {
      font-size: 24px;
      text-align: left;
    }
    .name {
      font-family: $nunito;
      font-weight: 700;
      line-height: 36px;
      color: $black100;
      font-size: 24px;
      margin-top: 54px;
    }
    .icon-div {
      margin-top: 114px;
    }
    .bowl-img {
      min-width: 520px;
      min-height: 520px;
    }
    .content-div {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-right: 194px;
    }
    .img-div {
      img {
        border-radius: 8px;
      }
    }
  }
}

.sect-4-home {
  @include respond-to(md) {
    .card-sect-4 {
      display: flex;
    }
    .sect-4-card {
      min-width: 1176px;
      min-height: 314px;
      margin-left: 132px;
      margin-right: 132px;

      h5 {
        text-align: left;
        font-family: $catamaran;
        font-size: 48px;
        font-weight: 400;
        line-height: 68px;
        margin-top: 18px;
        margin-left: 70px;
      }
      p {
        text-align: left;
        font-family: $nunito;
        font-weight: 400;
        line-height: 28px;
        font-size: 24px;
        margin-left: 70px;
      }
      .sect-4-text {
        white-space: nowrap;
      }
      .btn-div {
        display: flex;
        justify-content: start;
        margin-left: 70px;
        button {
          background-color: $orange100;
          color: $white100;
          border-radius: 26px;
          border: none;
          min-width: 244px;
          min-height: 52px;
        }
        button:hover {
          border: 1px solid $orange100;
          color: $orange100;
          background-color: $white100;
        }
      }
      .bowls-div {
        .bowl-1 {
          max-width: 334px;
          max-height: 334px;
          margin-top: 82px;
        }
        .bowl-2 {
          max-width: 174px;
          max-height: 174px;
          margin-top: 29px;
          margin-right: 26px;
        }
      }
    }
  }
}

.sect-5-home {
  @include respond-to(md) {
    width: 100%;
    max-height: 616px;
    margin-bottom: 0;
    h6 {
      font-size: 48px;
      font-weight: 500;
      font-family: $catamaran;
      line-height: 68px;
      color: $black100;
      margin-left: 132px;
      margin-top: 160px;
      margin-bottom: 12px;
      text-align: left;
    }
    p {
      font-size: 18px;
      font-family: $nunito;
      font-weight: 400;
      line-height: 28px;
      color: $black100;
      margin-left: 132px;
      min-width: 465px;
      min-height: 84px;
      text-align: left;
    }
    .twitter {
      margin-top: 12px;
    }
    .icon-container {
      margin-left: 132px;
      display: flex;
      justify-content: flex-start;
    }
    .bowl-div {
      img {
        min-width: 238px;
        min-height: 238px;
        margin-left: 140px;
        border-radius: 8px;
      }
    }
  }
}

.sect-1-menu {
  @include respond-to(md) {
    padding-top: 48px;
    .sect-1-head {
      font-family: $nunito;
      font-weight: 400;
      font-size: 48px;
      line-height: 68px;
      // margin-top: 48px;
    }
    .all-cards-div {
      display: flex;
      justify-content: center;
    }
    .card-div {
      margin-top: 140px;
    }
    .card-sect-1 {
      position: relative;
      padding: 128px 16px 24px 16px;
      min-width: 267px;
      min-height: 292px;
      border-radius: 8px;
      background-color: $white100;
      h2 {
        text-align: left;
        margin-top: 24px;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: $black100;
      }
      p {
        text-align: left;
      }
      img {
        position: absolute;
        top: -115px;
        left: 24px;
        max-width: 219px;
        max-height: 219px;
      }
      .btn-div {
        display: flex;
        align-items: start;
      }
    }
    .explor-btn {
      min-width: 219px;
      min-height: 52px;
    }
  }
}

.sect-2-menu {
  @include respond-to(md) {
    padding-top: 48px;

    .sect-2-head {
      font-family: $nunito;
      font-weight: 400;
      font-size: 48px;
      line-height: 68px;
      // margin-top: 48px;
    }
    .all-cards-div {
      display: flex;
      justify-content: center;
    }
    .card-div {
      margin-top: 140px;
      button {
        background-color: aqua;
      }
    }
    .card-sect-2 {
      position: relative;
      padding: 128px 16px 24px 16px;
      min-width: 267px;
      min-height: 292px;
      border-radius: 8px;
      background-color: $white100;
      h3 {
        text-align: center;
        margin-top: 24px;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: $black100;
      }

      img {
        position: absolute;
        top: -115px;
        left: 24px;
        max-width: 219px;
        max-height: 219px;
      }
    }
    .btn-div {
      height: auto;
      .order-btn-two {
        background-color: $orange100;
        color: $white100;
        border-radius: 26px;
        border: none;
        min-width: 219px;
        min-height: 52px;
      }
      .order-btn-two:hover {
        color: $orange100;
        background-color: $white100;
        border: 1px solid $orange100;
      }
    }
  }
}

footer {
  @include respond-to(md) {
    display: flex;
    flex-direction: row;
    padding-left: 132px;
   padding-right: 132px;
    padding-top: 57px;
    .footer-icon {
      display: flex;
    }
    .footer-link-div {
      display: flex;
    }
    .btn-container {
      margin-left: 60px;
      .btn2{
        margin-left: 10px;
      }
      button {
        min-height: 44px;
        min-width: 126px;
        
      }
    }
  }

  .social {
    @include respond-to(xs) {
      text-align: left !important;
      // display: inline-block;
    }
    @include respond-to(sm) {
      text-align: left !important;
    }
    @include respond-to(md) {
      text-align: right !important;
    }
  }
}

.footer {
  @include respond-to(xs) {
    height: auto;
    width: 100%;
  }
  @include respond-to(sm) {
    height: 500px;
  }
  @include respond-to(md) {
    height: 312px;
  }
}

.sect-1-about {
  position: relative;
  @include respond-to(md) {
    .about-card {
      position: absolute;
      //top: 234px;
      left: 351px;
      bottom: 300px;
      max-height: 532px;
      max-width: 738px;
      border-radius: 8px;
      padding: 36px;
      h1 {
        font-size: 48px;
        text-align: left;
        
      }
      h2 {
        font-size: 24px;
        text-align: left;
      }
    }
    .btn-div {
      .order-btn {
        background-color: $orange100;
        color: $white100;
        border: none;
        border-radius: 26px;
        min-width: 219px;
        min-height: 52px;
      }
      .order-btn:hover {
        background-color: $white100;
        color: $orange100;
        border: 1px solid $orange100;
      }
    }
  }
}

.sect-2-about {
  
  @include respond-to(md) {
    margin-top: 0;
    display: flex;
    min-height: 678px;
    overflow: visible;
 .sect-2-txt-div{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  
  margin-left: 132px;
  h3 {
    font-size: 48px;
    text-align: left;
    margin-top: 194px;
  }
  p {
    text-align: left;
    line-height: 26px;
  }
 }
   

    .box-container {
      margin-left: 163px;
      margin-top: 50px;
      margin-bottom: 96px;
      .half-oval-container {
        position: relative;
        width: 678px;
        height: 678px; 
        overflow: hidden;
        .half-oval {
          width: 100%; 
          height: 100%; 
          border: 5px solid $yellow100;
          border-radius: 50%; 
          position: absolute;
          right: -200px; 
        }
      }
      .boxes {
        position: absolute;
        z-index: 1;
        .box1 {
          position: absolute;
          left: 575px;
          top: -103px;
        }
        .box2 {
          position: absolute;
          top: 108px;
        }
        .box3 {
          position: absolute;
          top: 575px;
          left: 575px;
        }
      }
    }
  }
}

.container-giftcard-boxes {
  @include respond-to(sm) {
    display: none;
  }
  @include respond-to(md) {
    display: block;
  }
}

.section-1-giftcard {
  @include respond-to(xs) {
    width: 100%;
  }
  @include respond-to(sm) {
    width: 100%;
  }
  @include respond-to(md) {
    width: 1636px;
  }
}

.container-fluid-menu-pickup {
  @include respond-to(sm) {
    margin-left: 20px;
  }
}

.container-fluid-menu-pickup {
  @include respond-to(md) {
    margin-left: 550px;
  }
}

.section-2-purchase-info {
  .line {
    @include respond-to(sm) {
      margin-left: 27px;
    }
  }
}

.section-2-purchase-info {
  .line {
    @include respond-to(md) {
      margin-left: 27%;
    }
  }
}

.login-box {
  .box-1 {
    @include respond-to(xs) {
      display: none;
      margin-left: 0;
    }
    @include respond-to(sm) {
      display: none;
      width: 1139px;
      //margin-left: 200px;
    }
    @include respond-to(md) {
      display: inline-block;
      width: 1400px;
      // margin-left: 200px;
    }
  }
}

.login-box .box-2 input {
  @include respond-to(sm) {
    width: 500px;
  }
}

.login-box .box-2 input {
  @include respond-to(md) {
    width: 581px;
  }
}

.login-box .box-2 .button-1 {
  @include respond-to(sm) {
    width: 500px;
  }
}

.login-box .box-2 .button-2 {
  @include respond-to(sm) {
    width: 500px;
  }
}

.login-box .box-2 .button-3 {
  @include respond-to(sm) {
    width: 500px;
  }
}

.login-box .box-2 .button-4 {
  @include respond-to(sm) {
    width: 500px;
  }
}

.login-box .box-2 .button-1 {
  @include respond-to(md) {
    width: 581px;
  }
}

.login-box .box-2 .button-2 {
  @include respond-to(md) {
    width: 581px;
  }
}
.login-box .box-2 .button-3 {
  @include respond-to(md) {
    width: 581px;
  }
}
.login-box .box-2 .button-4 {
  @include respond-to(md) {
    width: 581px;
  }
}

.login-box .box-2 .line-container {
  @include respond-to(sm) {
  }
}

.login-box .box-2 .box-2-txt {
  @include respond-to(sm) {
    display: none;
  }
}

.login-box .box-2 .box-2-txt {
  @include respond-to(md) {
    display: inline-block;
  }
}

.reservation {
  .box-1 {
    @include respond-to(xs) {
      left: 10px;
      width: 100%;
    }
    @include respond-to(sm) {
      left: 50px;
      width: 650px;
    }

    @include respond-to(md) {
      left: 450px;
      width: 650px;
    }
  }
}

.build-bowl-box {
  @include respond-to(xs) {
    height: 940px;
  }
  @include respond-to(sm) {
    margin-left: 10%;
    height: 484 px;
  }
  @include respond-to(md) {
    margin-left: 30%;
    height: 684px;
  }
}

.build-bowl-box .build-box-number {
  @include respond-to(xs) {
    margin-top: 30px;
  }
}

.build-bowl-box .btn {
  @include respond-to(xs) {
    margin-top: 120px;
  }
  @include respond-to(sm) {
    margin-top: 0;
  }
  @include respond-to(md) {
    margin-top: 0;
  }
}

.build-bowl-box .build-bowl-add-cart {
  @include respond-to(xs) {
    margin-top: 120px;
  }
  @include respond-to(sm) {
    margin-top: 0;
  }
  @include respond-to(md) {
    margin-top: 0;
  }
}

.navbar {
  @include respond-to(xs) {
    width: 100%;
  }
  @include respond-to(sm) {
    width: 100%;
  }
  @include respond-to(md) {
    width: 100%;
  }
}

.location-hours-container {
  @include respond-to(xs) {
    width: 100%;
    //margin-top: 500px;
  }
  @include respond-to(sm) {
    width: 100%;
  }
  @include respond-to(md) {
    width: 100%;
  }
}

.sect-2-location {
  @include respond-to(xs) {
    width: 100%;
    margin-top: 2080px;
  }
  @include respond-to(sm) {
    width: 100%;
    margin-top: 0;
  }
  @include respond-to(md) {
    width: 100%;
    margin-top: 0;
  }
}

.sect-2-text-container {
  @include respond-to(xs) {
    margin-top: 90px;
    margin-right: 30px;
  }
  @include respond-to(sm) {
    margin-top: 160px;
  }
  @include respond-to(md) {
    margin-top: 160px;
  }
}
