@import "./variables";
@import "./mixins";







/* Small devices (tablets, 600px and up) */
@media (min-width: 600px) {
  /* Styles for tablets */
}

/* Medium devices (small laptops/desktops, 768px and up) */
@media (min-width: 768px) {
  /* Styles for small laptops */
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  /* Styles for regular laptops */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for large desktops */
}

/* Ultra large devices (extra-wide screens, 1400px and up) */
@media (min-width: 1400px) {
  /* Styles for ultra-wide screens */
}


/* Ultra large devices (extra-wide screens, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1440px;
  }
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}


