@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.reservation-card {
  padding-left: 20px;
  padding-right: 20px;
  .card-1{
    margin-top: 48px ;
    margin-bottom: 48px;
  }
  h1 {
    text-align: center;
    font-family: $catamaran;
  }
  p {
    text-align: center;
    font-family: $nunito;
    line-height: 28px;
    margin-bottom: 20px;
  }
  input{
    height: 43px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 7px;
  }
  select{
    height: 43px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 7px;
  }
  label {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-weight: 700;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }
  .options-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
  }
  .btn-div {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    .btn-1 {
      background-color: $orange100;
      color: $white100;
      height: 44px;
      width: 100%;
      border-radius: 22px;
      border: transparent;
      cursor: pointer;
    }
    .btn-1:hover {
      background-color: $white100;
      border: 1px solid $orange100;
      color: $orange100;
    }
  }
  .card-2 {
    .btn-close {
      display: none;
      background-color: transparent;
      border: none;
    }
    img {
      width: 100%;
      border-radius: 0 8px 8px 0;
    }
  }
}

.sect1-reservation {
  filter: brightness(40%);
  display: none;
}

/*
.reservation {
  min-width: 400px;
  .card-1 {
    h1 {
      font-size: 28px;
       text-align: center;
      font-family: $catamaran;
      font-weight: 700;
      // font-size: 32px;
      line-height: 48px;
      color: $black100;
    }
    p {
      font-family: $nunito;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #323842;
      text-align: center;
    }
    label {
      //text-align: center;
      font-family: $nunito;
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
      color: #424955;
    }
    .btn-div{
      display: flex;
      justify-content: center;
      button {
        background-color: $orange100;
        color: $white100;
        border-radius: 22px;
        border: none;
      }
      button:hover {
        background-color: $white100;
        border: 1px solid $orange100;
        color: $orange100;
      }
    }

   
    #nameInput {
      border-radius: 4px;
      margin-bottom: 21px;
      padding: 9px 140px 8px 16px;
      
    
    }
    #guest {
      border-radius: 4px;
      padding: 9px 0 8px 16px;
    }
    #restaurant {
      margin-left: 20px;
      border-radius: 4px;
      padding: 9px 17px 8px 16px;
      
    }
    #date {
      border-radius: 4px;
      padding: 9px 17px 8px 16px;
    }
    #time {
      margin-left: 20px;
      border-radius: 4px;
      padding: 9px 17px 8px 16px;
    }
  }
}

.sect1-reservation {
  filter: brightness(40%);
  display: none;
}
*/
