@import "./variables";
@import "./mixins";

/* Small devices (tablets, 600px and up) */
@media (min-width: 600px) {
  .section-1-home {
    h1 {
      font-size: 48px;
      line-height: 68px;
      font-weight: 400;
    }
  }

  .section-2-home {
    .card-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 36px;
    }
  }
  .section-1-menu {
    .all-cards-div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 36px;
    }
  }
  .section-2-menu {
    .all-cards-div {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr) !important;
      .card-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .card-sect-2 {
        h3 {
          text-align: center;
        }
      }
    }
    .number-div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .step {
        margin-left: 20px;
        p {
          text-align: center;
        }
      }
    }
  }
}

/* Medium devices (small laptops/desktops, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .section-1-home {
    position: relative;

    .card-img-div {
      position: absolute;
      top: 199px;
      left: 132px;
      width: 442px;
      height: 413px;
      padding: 48px 36px;
      border-radius: 4px;
      background-color: $white100;
      z-index: 1;
      box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
      h1 {
        margin-bottom: 80px;
        text-align: left;
        font-size: 48px;
      }
      p {
        text-align: left;
      }
      .btn-div {
        display: flex;
        justify-content: flex-start;
        .card-btn {
          border-radius: 26px;
        }
      }
    }
    .section-1-text {
      h2 {
        font-size: 48px;
        line-height: 68px;
        font-weight: 400;
      }
      p {
        width: 587px;
        height: 168px;
        line-height: 28px;
        font-weight: 400;
        font-size: 18px;
        margin: auto;
      }
    }
  }
  .section-2-home {
    .heading-div {
      margin-bottom: 26px;
      h3 {
        font-size: 48px;
        line-height: 48px;
        font-weight: 400;
      }
    }
    .card-container {
      display: grid;
      flex-direction: row;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 140px;

      .card-sect-2 {
        position: relative;
        padding-top: 128px;
        height: auto;
        width: 292px;
        h3 {
          text-align: left;
        }
        p {
          text-align: left;
        }
        .btn-div {
          display: flex;
          justify-content: flex-start;
        }
      }
      .img-div {
        img {
          position: absolute;
          top: -115px;
          left: 24px;
        }
      }
    }
  }
  .btn-div-2 {
    .explor-btn {
      border-radius: 26px !important;
    }
  }

  .section-3-home {
    display: flex;
    padding: 48px 132px;
    h4 {
      font-size: 48px;
      font-weight: 400;
      line-height: 68px;
      text-align: left;
    }
    p {
      text-align: left;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      width: 492px;
      height: 180px;
    }
    .name {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      margin-top: 54px;
    }
    .icon-div {
      display: flex;
      justify-content: flex-start;
      margin-top: 0;
    }
    .img-div {
      margin-left: 194px;
    }
  }

  .section-4-home {
    /* max-height: 314px ;*/
    max-width: 1176px;
    margin: auto;
    margin-bottom: 95px;
    .box-1 {
      display: flex;
      position: relative;
      h5 {
        text-align: left;
        font-size: 48px;
        font-weight: 400;
        line-height: 68px;
        margin-top: 48px;
        margin-left: 70px;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        width: 568px;
        height: 56px;
        line-height: 28px;
        margin-top: 18px;
        margin-left: 70px;
        text-align: left;
      }
      .btn-div {
        margin-top: 18px;
        display: flex;
        justify-content: flex-start;
        margin-left: 70px;
        margin-bottom: 48px;
        .btn {
          border-radius: 26px;
        }
      }
      .bowl-div {
        display: flex;
        .bowl-1 {
          display: block;
          max-width: 334px;
          max-height: 334px;
          position: absolute;
          top: 98px;
          left: 638px;
        }
        .bowl-2 {
          position: absolute;
          display: block;
          max-width: 174px;
          max-height: 174px;
          top: 29;
          left: 976px;
        }
      }
    }
  }

  .section-5-home {
    overflow: hidden;
    display: flex;
    margin: 0;
    height: 616px;
    .section-5-text {
      margin-top: 160px;
    }

    .bowl-div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      margin-left: auto;
      margin-top: -70px;
      margin-right: -50px;
      .middle {
        margin-top: -50px;
      }

      img {
        border-radius: 8px;
      }
    }
    h6 {
      text-align: left;
      font-size: 48px;
      line-height: 68px;
      font-weight: 500;
      margin-bottom: 12px;
    }
    p {
      text-align: left;
      width: 465px;
    }
    .icon-div {
      display: flex;
      justify-content: flex-start;
      margin-top: 52px;
    }
  }

  .primary-footer {
    display: none;
  }
  .twitter {
    color: $black100;
  }

  .section-1-about {
    position: relative;
    .about-card {
      position: absolute;
      top: 234px;
      left: 351px;
      padding-left: 36px;
      padding-right: 36px;
      border-radius: 8px;
      z-index: 1;
      background-color: $white100;
      max-width: 738px;
      max-height: 532px;
      box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
      h1 {
        text-align: center;
        margin-bottom: 4px;
        font-size: 48px;
        line-height: 68px;
        font-weight: 400;
      }
      h2 {
        text-align: left !important;
        font-size: 24px !important;
        font-weight: 700 !important;
        line-height: 36px;
      }
      p {
        text-align: left !important;
        margin-top: 8px;
        width: 666px;
      }
      .btn-div {
        .order-btn {
          background-color: $orange100;
          color: $white100;
          border: none;
          border-radius: 26px !important;
          height: 52px;
          width: 219px;
        }
        .order-btn:hover {
          background-color: $white100;
          color: $orange100;
          border: 1px solid $orange100;
        }
      }
    }
  }

  .section-2-about {
    height: 678px !important;
    position: relative;
    margin-top: 97px;
    margin-bottom: 97px;
    .h3-span {
      display: block;
    }
    .circle-line {
      width: 678px;
      height: 678px;
      border: 5px solid yellow;
      border-radius: 50%;
      border-bottom-color: transparent;
      border-left-color: transparent;
      transform: rotate(225deg);
      position: absolute;
      top: 0;
      left: 1051px;
      z-index: 1;
      display: block !important;
    }
    h3 {
      text-align: left !important;
      margin-top: 194px;
      font-size: 48px;
      font-weight: 400;
      line-height: 68px;
    }

    p {
      text-align: left !important;
      width: 554px;
      height: 130px;
      font-size: 16px;
    }
    .bowl-1 {
      display: block !important;
      position: absolute;
      top: -103px;
      left: 1337px;
      z-index: 2;
    }

    .bowl-2 {
      display: block !important;
      position: absolute;
      top: 108px;
      left: 849px;
      z-index: 2;
    }
    .bowl-3 {
      display: block !important;
      position: absolute;
      top: 575px;
      left: 1337px;
      z-index: 2;
    }
  }

  .section-1-menu {
    .first-heading {
      font-family: $catamaran;
      font-size: 52px;
      line-height: 74px;
      font-weight: 400;
    }
    .all-cards-div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 36px;
      margin-top: 182px;
      .card-sect-1 {
        position: relative;
        padding-top: 128px;
        height: auto;
        width: 292px;
        h3 {
          text-align: left;
        }
        p {
          text-align: left;
        }
        .btn-div {
          display: flex;
          justify-content: flex-start;
        }
        .img-div {
          img {
            position: absolute;
            top: -115px;
            left: 24px;
          }
        }
      }
    }
  }

  .section-2-menu {
    .first-heading {
      font-family: $catamaran;
      font-size: 52px;
      line-height: 74px;
      font-weight: 400;
    }
    .all-cards-div {
      display: grid !important;
      grid-template-columns: repeat(4, 1fr) !important;
      .card-sect-2 {
        h3 {
          text-align: center;
        }
      }
    }
    .number-div {
      display: flex !important;
      flex-direction: row !important;
      justify-content: flex-start !important;
      .step {
        margin-left: 20px;
        p {
          text-align: left;
        }
      }
    }
  }

  .section-1-location {
    padding-bottom: 72px;
    .all-cards-div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 36px;
      .card-div {
        h2 {
          text-align: left;
        }
        p {
          text-align: left;
        }
        .info-div {
          .info {
            display: flex;
            justify-content: flex-start;
          }
        }
        .btn-div {
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }

  .section-1-menu-pickup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: auto;
    }
    h1 {
      text-align: left !important;
      margin-top: 40px;
      margin-bottom: 24px;
      font-weight: 400;
    }
    p {
      text-align: center !important;
      margin-bottom: 12px;
    }
    .icon {
      width: 24px;
      height: 24px;
      margin-bottom: 12px;
    }
    .info-div {
      width: 100%;
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between;
      .info {
        display: flex;
        justify-content: flex-start !important;
        align-items: center;
        gap: 10px;
      }
      .btn-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        button {
          color: #765903;
          border: 1px solid #fcdd80;
          background-color: $white100;
          width: 77px;
          height: 34px;
          cursor: pointer;
        }
        button:hover {
          background-color: #fcdd80;
        }
      }
    }
  }

  .section-2-menu-pickup {
    h2 {
      text-align: left !important;
    }
    .all-cards-div {
      display: grid !important;
      grid-template-columns: repeat(4, 1fr) !important;
      margin-top: 108px !important;
      .card-div-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        p {
          text-align: left !important;
        }
      }
      .card-sect-2 {
        position: relative;
        padding-top: 128px !important;
        height: auto !important;
        width: 292px !important;
        .img-div {
          img {
            position: absolute;
            top: -115px;
            left: 24px;
          }
        }
      }
    }
  }

  .all-cards-div-2 {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    margin-top: 0 !important;
    .card-div-2 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
      p {
        text-align: left !important;
      }
    }
    .card-sect-2 {
      position: relative;
      padding-top: 128px !important;
      height: auto !important;
      width: 292px !important;
      .img-div {
        img {
          position: absolute;
          top: -115px;
          left: 24px;
        }
      }
    }
    .drinks-card {
      display: flex !important;
      justify-content: flex-start !important;
      align-items: start !important;
      .btn-div {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center !important;
        gap: 119px !important;
        p {
          margin-top: 17px;
        }
      }
    }
  }

  .section-1-giftcard {
    height: 967px;
    display: flex;
    flex-direction: row;
    overflow: hidden !important;
    position: relative;
    .div-1 {
      h1 {
        text-align: left !important;
        margin-top: 71px !important;
        font-size: 48px !important;
      }
      h2 {
        text-align: left !important;
        margin-top: 12px !important;
      }

      P {
        text-align: left !important;
      }
      .section-1-box-div {
        display: flex;
        justify-content: flex-start !important;
        align-items: center !important;
        margin-bottom: 40px;
        gap: 24px !important;
        .box-1,
        .box-2 {
          border: 1px solid $lightgrey100;
          width: 280px;
          height: 102px;
          font-size: 12px;
          font-weight: 400;
          padding: 3px;
          border-radius: 8px !important;
          display: flex;
          padding-top: 16px;
          padding-left: 20px;
          padding-right: 25px;
          cursor: pointer;
          img {
            width: 36px;
            height: 36px;
          }
          .inner-box-div {
            margin-left: 16px;
            display: flex;
            flex-direction: column;
            gap: 2px;
            .text-1 {
              font-size: 18px;
              font-weight: 400;
              line-height: 28px;
            }
          }
        }
        .box-1:hover {
          border: 1px solid $orange100;
        }
        .box-2:hover {
          border: 1px solid $orange100;
        }
      }
      .btn-div {
        display: flex;
        justify-content: flex-start !important;
        margin-bottom: 40px;
        button {
          background-color: $white100;
          color: $darkgreen100;
          border: 1px solid $yellow100;
          width: 78px;
          height: 34px;
          cursor: pointer;
        }
        button:hover {
          background-color: $yellow100;
        }
      }
      .form-div {
        display: flex !important;
        flex-direction: column !important;
      }
      input {
        height: 35px;
        width: 395px;
        margin-bottom: 13px;
      }
      textarea {
        width: 395px !important;
        height: 94px !important;
        margin-top: 0;
        margin-bottom: 25px !important ;
      }
      .btn-div-2 {
        display: flex;
        justify-content: flex-start !important;
        margin-bottom: 40px;
        .checkout-btn {
          width: 300px;
          height: 36px;
          border-radius: 22px;
          background-color: $orange100;
          color: $white100;
          border: transparent;
          cursor: pointer;
        }
      }
      .promo {
        color: #379ae6;
        text-align: left !important;
      }
      .switch-div {
        display: flex;
        align-items: center;
        justify-content: flex-start !important;
        margin-bottom: 24px;
        p {
          font-weight: 400;
          font-family: $nunito;
          font-size: 16px;
        }
        /* The switch - the box around the slider */
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
          margin-left: 183px;
        }

        /* Hide default HTML checkbox */
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 24px;
          width: 24px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background-color: #1dd75b;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #1dd75b;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }
    }

    .giftcard-boxes-container {
      margin-left: auto !important;
      display: block !important;
      display: grid !important;
      grid-template-columns: repeat(3, 1fr) !important;
      gap: 24px !important;
      row-gap: 24px !important;
      overflow: hidden !important;
      margin-right: -120px;
      position: absolute;
      top: 0px;
      right: 0;
      img {
        width: 238px !important;
        height: 238px !important;
        border-radius: 8px;
      }
      .middle {
        margin-top: -60px;
      }
    }
  }

  .reservation-card {
    padding: 0 !important;
    display: flex;
    position: absolute !important;
    background-color: $white100;
    z-index: 2;
    top: 138px;
    left: 151px;
    border-radius: 8px;
    /* width: 1139px;*/
    height: 642px;
    gap: 49px;
    h1 {
      text-align: left !important;
      font-family: $catamaran;
      margin-left: 48px;
    }
    p {
      text-align: left !important;
      font-family: $nunito;
      line-height: 28px;
      margin-bottom: 20px;
      margin-left: 48px;
    }
    input {
      height: 43px;
      padding: 7px;
    }
    select {
      height: 43px;
      border-radius: 4px;
      padding: 7px;
      margin-bottom: 16px;
    }
    .input-1 {
      height: 43px !important;
      width: 541px !important;
      border-radius: 4px;
      margin-left: 48px;
      margin-bottom: 16px;
     
    }

    .guest-restaurant-div {
      display: flex;
      gap: 25px;
      .restaurant-div {
        display: flex;
        flex-direction: column;
        width: 258px;
      }
      .guest-div {
        display: flex;
        flex-direction: column;
        width: 258px;
        margin-left: 48px;
      }
    }
    label {
      display: flex;
      justify-content: flex-start !important;
      margin-bottom: 5px;
    }
    .name-label {
      margin-left: 48px;
    }

    form {
      display: flex;
      justify-content: flex-start !important;
      align-items: center;
      margin-bottom: 5px;
    }
    .options-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 5px;
    }
    .btn-div {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-left: 48px;
      .btn-1 {
        background-color: $orange100;
        color: $white100;
        height: 44px;
        width: 100%;
        border-radius: 22px;
        border: transparent;
        cursor: pointer;
      }
      .btn-1:hover {
        background-color: $white100;
        border: 1px solid $orange100;
        color: $orange100;
      }
    }
    .card-2 {
      position: relative;
      .btn-close {
        position: absolute;
        display: block !important;
        z-index: 4;
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .sect1-reservation {
    filter: brightness(40%);
    width: 100vw;
    display: block !important;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for large desktops */
}

/* Ultra large devices (extra-wide screens, 1400px and up) */
@media (min-width: 1400px) {
  /* Styles for ultra-wide screens */
}

/* Ultra large devices (extra-wide screens, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1440px;
    margin: auto;
  }
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
