@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

//Font
$catamaran: "Catamaran", sans-serif;
$nunito: "Nunito Sans", sans-serif;


//black
$black100: #171A1f;

//grey
$grey100: #424955;
$grey200: #EAECEF;
$grey300: #6E7787;
$grey400: #9095A0;
$lightgrey100: #BCC1CA;
$lightgrey200: #FAFAFB;

//orange
$orange100: #F96540;
$orange200: #FFF3F0;
//yellow
$yellow100: #FCDD80;

//white
$white100: #FFFFFF;

//green
$lightgreen: #1DD75B;
$darkgreen100: #765903;

//blue
$blue100: #379AE6;

