@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
.navbar {
  height: 80px;
}
.navbar a {
  font-family: "Nunito Sans", sans-serif;
  color: #424955;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.navbar .logo-container {
  display: flex;
  flex-direction: row;
}
.navbar .logo-container p {
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 28px;
  margin-top: 20px;
}
.navbar .btn {
  font-family: "Nunito Sans", sans-serif;
  color: #171A1f;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 125px;
  height: 44px;
  border-radius: 22px;
  border: none;
  top: 18px;
}
.navbar .btn1 {
  background-color: #171A1f;
  color: #FFFFFF;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 126px;
  height: 44px;
  border-radius: 22px;
  border: none;
  top: 18px;
  left: 1182px;
}

.sect1-home .sect1-img {
  position: relative;
  width: 100%;
  height: 810px;
}
.sect1-home .sect1-img img {
  width: 100%;
  height: 100%;
}
.sect1-home .sect1-box-container {
  position: absolute;
  top: 199px;
  left: 132px;
  width: 442px;
  height: 413px;
  border: none;
  z-index: 1;
}
.sect1-home .sect1-box-container .box {
  background-color: #FFFFFF;
  padding: 48px 36px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1px 0 #171A1f;
  border-radius: 4px;
}
.sect1-home .sect1-box-container .box .sect1-btn-container {
  margin-top: 80px;
}
.sect1-home .sect1-box-container h1 {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  font-size: 48px;
  width: 370px;
  line-height: 68px;
  color: #171A1f;
}
.sect1-home .sect1-box-container p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.sect1-home .sect1-box-container button {
  background-color: #F96540;
  color: #FFFFFF;
  width: 219px;
  height: 52px;
  padding: 12px, 64px;
  border-radius: 26px;
  border: none;
}
.sect1-home .sect1-text-container {
  margin-top: 72px;
  text-align: center;
}
.sect1-home .sect1-text-container h2 {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 68px;
}
.sect1-home .sect1-text-container p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.sect2-home {
  height: 683px;
  padding-top: 48px;
  background-color: #FAFAFB;
}
.sect2-home .sect2-header {
  text-align: center;
  font-family: "Catamaran", sans-serif;
}
.sect2-home .container .box {
  background-color: #FFFFFF;
  padding: 10px;
  width: 267px;
  border-radius: 8px;
}
.sect2-home .container .box .image-container {
  width: 219px;
  height: 219px;
}
.sect2-home .container .box .image-container img {
  width: 100%;
  margin-left: 10px;
}
.sect2-home .container .box button {
  background-color: #FFF3F0;
  color: #F96540;
  width: 94px;
  height: 36px;
  border-radius: 18px;
  border: none;
}
.sect2-home .container .box p {
  width: 235px;
  height: 60px;
  font-size: 12px;
}
.sect2-home .container .box h4 {
  white-space: nowrap;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.sect2-home .sect2-btn-container {
  text-align: center;
}
.sect2-home .sect2-btn-container button {
  width: 219px;
  height: 52px;
  margin-top: 48px;
  border-radius: 26px;
  border: 1px solid #171A1f;
  color: #171A1f;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.sect3-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 72px;
  padding-top: 48px;
  margin-right: 132px;
  margin-left: 132px;
}
.sect3-home h5 {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 68px;
  color: #171A1f;
}
.sect3-home p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.sect3-home .icon {
  margin-top: 114px;
}
.sect3-home .name {
  width: 182px;
  height: 36px;
  margin-top: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #171A1f;
}
.sect3-home .img-container {
  width: 520px;
  height: 520px;
}
.sect3-home .img-container img {
  width: 100%;
}

.sect4-home {
  width: 100%;
}
.sect4-home .container {
  position: relative;
  width: 100%;
}
.sect4-home .container .box {
  margin-top: 72px;
  margin-bottom: 95px;
  display: flex;
  height: 314px;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #171A1f;
  border-radius: 8px;
  padding: 48px 70px 48px 70px;
  overflow: hidden;
}
.sect4-home .container .box h6 {
  color: #FFFFFF;
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 68px;
}
.sect4-home .container .box p {
  color: #FFFFFF;
}
.sect4-home .container .box button {
  background-color: #F96540;
  color: #FFFFFF;
  width: 244px;
  height: 52px;
  border-radius: 26px;
  border: none;
}
.sect4-home .container .box .img-container {
  display: flex;
  flex-direction: row;
}
.sect4-home .container .box .img-container .img1-container {
  height: 200px;
  width: 300px;
  border-radius: 167px;
  margin-top: -16px;
}
.sect4-home .container .box .img-container .img-1 {
  height: 100%;
  width: 100%;
  margin-top: 82px;
  margin-right: 204px;
  margin-bottom: 202px;
  width: 100%;
}
.sect4-home .container .box .img-container .img-2 {
  width: 174px;
  height: 174px;
}

.sect5-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  height: 616px;
  border-radius: 4px;
  background-color: #FAFAFB;
}
.sect5-home .container {
  padding: 0;
}
.sect5-home .container .custom-negative-margin {
  margin-top: -50px;
}
.sect5-home .container .custom-negative-margin-1 {
  margin-top: -100px;
}
.sect5-home .container .box {
  width: 238px;
  height: 238;
}
.sect5-home .container .box img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.sect5-home .sect5-text-container {
  margin-top: 160px;
  margin-left: 132px;
}
.sect5-home .sect5-text-container h6 {
  font-family: "Catamaran", sans-serif;
  font-size: 48px;
  line-height: 68px;
  font-weight: 500;
  color: #171A1f;
}
.sect5-home .sect5-text-container p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #171A1f;
}
.sect5-home .sect5-text-container .icon-container {
  margin-top: 52px;
}
.sect5-home .sect5-text-container .icon-container img {
  margin-right: 24px;
  width: 44px;
  height: 44px;
}

@media (min-width: 576px) {
  .sect3-home {
    margin-top: 1100px;
  }
}

@media (min-width: 768px) {
  .sect3-home {
    margin-top: 0px;
  }
}

@media (min-width: 576px) {
  .sect4-home .box {
    height: 370px !important;
  }
}

@media (min-width: 768px) {
  .sect4-home .box {
    height: 314px !important;
  }
}

@media (min-width: 576px) {
  .sect4-home .img-1 {
    margin-top: 138px !important;
  }
}

@media (min-width: 576px) {
  .sect5-home .img-1 {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .sect5-home .img-1 {
    display: block !important;
  }
}

@media (min-width: 576px) {
  .sect5-home .sect5-text-container {
    margin-top: -10px;
  }
}

@media (min-width: 768px) {
  .sect5-home .sect5-text-container {
    margin-top: 160px;
  }
}

@media (min-width: 576px) {
  footer .container-fluid {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  footer .container-fluid {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 576px) {
  .footer {
    height: 500px;
  }
}

@media (min-width: 768px) {
  .footer {
    height: 312px;
  }
}

@media (min-width: 576px) {
  footer .social {
    text-align: left !important;
  }
}

@media (min-width: 768px) {
  footer .social {
    text-align: right !important;
  }
}

@media (min-width: 576px) {
  .sect1-box-container-about {
    left: 0 !important;
  }
}

@media (min-width: 768px) {
  .sect1-box-container-about {
    left: 351px !important;
  }
}

@media (min-width: 576px) {
  .sect2-about .box1 {
    display: none;
  }
}

@media (min-width: 768px) {
  .sect2-about .box1 {
    display: block;
  }
}

@media (min-width: 576px) {
  .sect2-about .box3 {
    display: none;
  }
}

@media (min-width: 768px) {
  .sect2-about .box3 {
    display: block;
  }
}

@media (min-width: 576px) {
  .sect2-about .half-oval {
    display: none;
  }
}

@media (min-width: 768px) {
  .sect2-about .half-oval {
    display: block;
  }
}

@media (min-width: 576px) {
  .sect2-about {
    display: flex;
    flex-direction: column !important;
    margin-top: 0 !important;
    margin-bottom: 300px;
  }
}

@media (min-width: 768px) {
  .sect2-about {
    display: flex;
    flex-direction: row !important;
    margin-top: 300px !important;
    margin-bottom: 0 !important;
  }
}

footer {
  height: 312px;
  background-color: #171A1f;
  padding: 50px 132px 79px 136px;
}
footer h6 {
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
}
footer .btn-container .btn1 {
  width: 125px;
  height: 44px;
  border: 1px solid #F96540;
  border-radius: 22px;
  margin-right: 10px;
  color: #F96540;
  background-color: #171A1f;
}
footer .btn-container .btn2 {
  width: 126px;
  height: 44px;
  border-radius: 22px;
  border: none;
  color: #FFFFFF;
  background-color: #F96540;
}
footer .social {
  text-align: right;
}

* {
  box-sizing: border-box;
}

.sect1-about .sect1-img-about {
  position: relative;
  width: 100%;
  height: 450px;
}
.sect1-about .sect1-img-about img {
  width: 100%;
  height: 100%;
}
.sect1-about .sect1-box-container-about {
  position: absolute;
  top: 234px;
  left: 351px;
  width: 738px;
  height: 532px;
  border: none;
  z-index: 1;
}
.sect1-about .sect1-box-container-about .box-about {
  background-color: #FFFFFF;
  padding: 36px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1px 0 #171A1f;
  border-radius: 8px;
}
.sect1-about .sect1-box-container-about h1 {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 68px;
  color: #171A1f;
}
.sect1-about .sect1-box-container-about h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #171A1f;
}
.sect1-about .sect1-box-container-about p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.sect1-about .sect1-box-container-about button {
  background-color: #F96540;
  color: #FFFFFF;
  width: 219px;
  height: 52px;
  padding: 12px, 64px;
  border-radius: 26px;
  border: none;
}

.sect2-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 300px;
  height: 678px;
  background-color: #FAFAFB;
}
.sect2-about .sect2-text-container-about {
  margin-top: 192px;
  padding-left: 132px;
}
.sect2-about .sect2-text-container-about h3 {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 68px;
  color: #171A1f;
}
.sect2-about .sect2-text-container-about p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #171A1f;
}
.sect2-about .half-oval-container {
  position: relative;
  width: 678px; /* Width of the container */
  height: 678px; /* Height of the container */
  overflow: hidden; /* Hide overflow */
}
.sect2-about .half-oval-container .half-oval {
  width: 100%; /* Twice the width of the container */
  height: 100%; /* Same height as the container */
  border: 5px solid #FCDD80;
  border-radius: 50%; /* Makes the shape oval */
  position: absolute;
  right: -200px; /* Shift the oval to the left to show only the left half */
}
.sect2-about .boxes {
  position: absolute;
  z-index: 1;
}
.sect2-about .boxes .box1 {
  position: absolute;
  left: 575px;
  top: -103px;
}
.sect2-about .boxes .box2 {
  position: absolute;
  top: 108px;
}
.sect2-about .boxes .box3 {
  position: absolute;
  top: 575px;
  left: 575px;
}/*# sourceMappingURL=main.css.map */